* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* nav text color: #222C47, body FBF8F1, darker F7ECDE,
darker: E9DAC1, teal: 54BAB9 */

body {
  background-color: #FBF8F1;
  font-family: 'Roboto', sans-serif;
}

nav {
  background-color: #222C47;
  padding: 1em;
  height: 4em;
  color: #F7ECDE;
  width: 100%;
}

a {
  color: #FBF8F1;
  text-decoration: none;
}

.mainNavigation {
  list-style-type: none;
  display: flex;
  flex-wrap:wrap;
  align-items: center;
  justify-content: space-evenly;
}

.logo {
  font-size: 24px;
  padding: 7.5px 10px 7.5px 0;  
}


.item{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 20px;
}


.item li:hover{
  color: #027B7E;
  transform: scale(1.2);
  text-shadow: none;
}

/* Style for containers */

#main .container {
  height: 600px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

#main .conLeft{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

#main .conRight {
  width: 50%;
  align-items: flex-end;
  background-color: white;
}

#main .conLeft h1 {
  font-size: 150px;
}

#main .conLeft h2 {
  font-size: 50px;
  letter-spacing: 1px;
}

#main .conLeft p {
  color: #38284B;
  padding-top: 18px;
  font-size: 24px;
  letter-spacing: 1px;
}

.conLeft h1, h2, p{
  background: -webkit-linear-gradient(#54BAB9, #38284b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.conRight img { 
  height: 600px;
}


@media only screen and (max-width: 600px) {
  #main .container {
    flex-wrap: wrap;
  }
}
